html,
body {
  margin: 0;
}

/*used for remove line at click, need it for a visible glitch in the menu*/
*:focus {
    outline: 0;
}

.listDimension
{
  margin:auto;
  width: 15em;
}

/* css button qui*/
.bm-item {
  padding: 0;
  display: inline-block;
  border: none;
  background: none;
  color: white;
}

/* button on hover qui */
.bm-item:hover {
  color: blue;
  transition-duration: 1s;
}

/* GRAFICO */

.grafico {
  display: grid;
  height: 100vh;
  grid: 50px 1fr 1fr 50px / 50px 1fr 1fr 50px;
  font-size: calc(10px + 2vmin);
  padding: 5em 2em 2em 5em;
}
.chartPreferences{
  float:right;
  width: 15%;
  padding: 1em;
  border: 1px solid black;
}
.chartDiv{
  width: 80%;
}

/*posizione canvas sopra a svg per SPM*/
.plot {position: absolute;}
#spm-canvas {z-index: -1;}
#spm-svg {z-index: -2;}

.heatmap {
    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
    position: absolute;
    background-color: red;
}

/* FINE GRAFICO */

.content {
	/*text-align: center;*/
  margin: 1em;
  margin-left: 6em;
}

/* INIZIO MENU */
:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #282c34;
  --bg-secondary: #141418;
  --transition-speed: 300ms;
}

.navbar {
  position: fixed!important;
  display: block!important;
  transition: width 200ms ease;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: var(--bg-primary);
  padding: 0%!important;
}

.navbar::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
}

.navbar::-webkit-scrollbar {
  width: 0px;
}

.navbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #737272;
  border: 1px solid #000;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navbar-nav:hover {
	align-items: left;
}

.nav-item{
  width: 100%;
	background-color: none;
}

.logo {
	margin-top: .7em;
	width: 100%;
	height: 3.3em;
} 

.nav-link {
	background: var(--bg-primary);
	cursor: pointer;
	border: 0;
	width: 100%;
  display: flex!important;
  align-items: center;
	margin: auto;
  height: 4.5em;
  color: var(--text-primary);
  text-decoration: none;
  filter:opacity(0.8);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.nav-link:disabled,.nav-link[disabled] {
	filter:opacity(0.4);
}

.popover-header{
	color: red;
}

.link-text {
  margin-left: 1em;
	font-size: 16px;
	visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .4s ease-in;
}

.icon {
  width: 2em;
  min-width: 2em;
  margin: 0 1.4em;
}

.arrow-icon{
	color:white;
	margin: 0 1.4em;
	margin-top: .5em;
}

.logo-text {
	margin-top: .2em;
	background-color: none;
  font-weight: bold;
  text-align: center;
  color: var(--text-secondary);
  font-size: 1.5em;
  letter-spacing: 0.2ch;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5em;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row!important;
  }

  .nav-link {	
		width: 3.5em;
  }

	.content {
		margin-left: 0;
	}
	.icon {
		margin-left: 1em;
	}
}

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5em;
    height: 100vh;
  }

  .navbar:hover {
    width: 16em;
  }

  .navbar:hover .link-text {
    visibility: visible;
  	opacity: 1;
  }

  .navbar:hover .logo svg {
    margin-left: 11em;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}
/* TODO: DA RIVEDERE */
/* FINE MENU */

/* INIZIO HEADER */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding-left: 2em;
  background-color: #282c34;
  height: 3.3em;
  display: flex;
  flex-direction: row;
  align-items: center;
	justify-content: center;
  font-size: 1.2rem;
  color: white;
}

.App-logo {
	height: 4rem;
  pointer-events: none;
  margin: 2rem .4rem 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* FINE HEADER */

/* INIZIO ALERT */
.alert{
	max-width: 30%;
	position:absolute!important;
	right:0!important;
}
/* FINE ALERT */